* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

.menu-superior {
    width: 100%;
    text-align: right;
    height: 8vh;
    background-color: #c5c5c5;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.menu-superior ul {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu-superior ul .username-btn {
    background-color: #5b9ff8;
}

.menu-superior ul .logout-btn {
    background-color: #81ccf8;
}

.menu-superior ul li {
    margin: 0 10px;
    background-color: dimgrey;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu-superior ul li a {
    color: #f5f5f5;
    text-decoration: none;
}

.aside-btn {
    background-color: #7fff00;
    margin-top: 0.5%;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside-btn li {
    text-align: center;
    width: 20px;
    border: 2px solid #f1f1f1;
    margin-bottom: 1px;
    list-style: none;
}

/* Admin panel */

.aside-menu {
    width: 20%;
    background-color: #c5c5c5;
    height: 92vh;
}

.aside-menu ul {
    margin-top: 8vh;
}

.aside-menu ul a {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    text-decoration: none;
    color: #f1f1f1;
}

/* Dashboard */

.dashboard {
    margin-left: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard > h1 {
    text-align: center;
    margin-bottom: 20px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.box .card {
    width: 230px;
    height: 200px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0 10px 0;
    background-color: #e2e2e2;
}

.box .card img {
    width: 150px;
}

.box .card a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
}

/* Login */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

